/*Import font poppins google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{ 
        /*variaveis de cores para CSS*/
    --main-color:#00eeff;
    --text-color:#fff;
    --bg-color-01:#1f242d;
    --bg-color-02:#323946;
    --color-00:#0000001a;

    /* Cores teste */

    --color-01:#999;
    --color-02:#009539;
    --color-03:#7950f2;
    --color-04:#c00000;
    --color-05:#232323;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{

    font-family:Helvetica;
    font-size: 16px;
    font-style: normal;
     
}

body{
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--color-05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav a{
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover{
    color: var(--color-03);  /*test*/

}

section{
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
    
}

span{
    color: var(--main-color);
}

.home, .about{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-img img, .about-img img{

        width: 50%;
        border-radius: 75%; 

    }



.about{
    background-color: var(--bg-color-01);
}
.home-content, .about-content{

    width: 45%;

}
.home-content h1, .about-content h1{

    font-weight: 700;
    font-size: 1.6rem;

}

.home-content h3, .about-content h3{

        font-weight: 700;
        font-size: 1.6rem;

}
.home-content p, .about-content p{

    margin-top: 1.2rem;
    text-align: justify;
}


.portifolio h2,
.contact h2{

    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;

}

.btn{
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--color-03);
    color: var(--text-color);
    border-radius: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
    margin-bottom: 40px;
}
.btn:hover{

    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    cursor: pointer;
}

.portifolio{
    background-color: var(--bg-color-01);
    
}

.container-projetos{
    text-align: center;
    display: flex;
}
.portifolio-container{
    padding-left: 20px;
    width: 90%;
    display:flex;
    
    
    
}
.portifolio-box{
    
    margin-top: 100px;
    position: absolute;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.3rem var(--main-color);
    width: 400px;
    height: 200px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: flex;
    
 
}

.portifolio-box img{
    width: 100%;
    height: 200px;
    transition: 0.5s ease;
    border-radius: 0.6rem;
    cursor: pointer;
}

.portifolio-box img:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
    cursor: pointer;
}

.portifolio-layer h4{
    padding-right: 20px;
    margin-top: 350px;
    text-align: center;
    font-size:1.2rem ;
    color:var(--text-color);
    
    
}

.portifolio-layer p{
    margin-top: 20px;
    display: flex;
    font-size: 0.8rem;
    color:var(--text-color);
    padding-right: 20px;

    
}
.portifolio-layer i{
    margin-top: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
    color:var(--text-color);
    justify-content: center;


}

.portifolio-layer .bxl-html5{
    color: #c00000;
}

.portifolio-layer .bxl-css3{

    color: #417bcb;
}
.portifolio-layer .bxl-javascript{

    color: #ffff00;
}

.portifolio-layer a {
    margin-top: 20px;
    padding-right: 20px;
    display: flex;
    font-size: 1.5rem;
    color:var(--main-color);
    justify-content: center;
}

.portifolio-layer a:hover{
    color: var(--color-03);
}

.social-media a {
    font-size: 2rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    transition: 0.5s ease;
}

.social-media a:hover {

    color: var(--color-03);

}


form{
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
    
}

form .input-box{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

form .input-box input, 
textarea{

    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;

}

form .textarea{
    resize: none;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--color-05);
    font-size: 10px;
}


/*hemburger menu*/

.menu-hamburger{

    display: none;
    cursor:pointer;
}

.nav a.active {
    color: white;
}

.nav .icon{
    display: none;
    
  }


  @media screen and (max-width:800px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
      color: var(--text-color);


      
    }
  }
  @media screen and (max-width: 800px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .section{

        padding: 6rem 2.5rem;
  }
    .home , .about{
        flex-direction: column;
    }

    .home-img{
        width: 80%;
        max-width: 80%;
        justify-content: center;
        margin-right: 5px;
        text-align: center;
    }

    .home-content, .about-content{
        width: 100%;
        text-align: center;
        
    }
    .home-content div{
        text-align: center;
    }

    .home-content h1{

        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;


    }
   

    .about-content h1{
    text-align: center;
    padding: 5px;
    
    }
    .home-content p{

        text-align: center;
    }
    form .input-box{
        width: 150%;
        max-width: 100%;
       
    }

    .container-01{
        
        flex-direction: column;
    }
    .portifolio{
        padding: 6rem 2.5rem;
        flex-direction: column;
    } 


    .portifolio-box{
        margin-bottom: 50px;
        width: 80%;
     

    }
    .portifolio-box img{

        margin-bottom: 25px;
            
    } 
    .portifolio-layer {
        align-items: center;
        margin-top: 200px;
        
       
        

    }
    .portifolio-layer h4 { 
       margin-top: 120px;
       margin-left: -10px;

    }
    .portifolio-layer p { 
        margin-left: 0;
        text-align: center;
        

 
     }
     .portifolio-layer a { 
        margin-left: 0;
        text-align: center;
 
     }

     


     .about-img{ 
        width: 100%;
        text-align: center;
    }
    .about p{
        text-align:center;
    }

     footer{
        font-size: 5px;
        margin-top: 20px;
        display: flex;
        text-align: center;
     }

     footer p{
        
     }
     
    }
